.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 
display: {sm: 'none', md: 'none', lg: 'block'},
width: {lg: '4vw', xl: '5vw'},
height: {lg: '4vw', xl: '5vw'},
// position: 'relative',
// left: {lg: '1.8vw', xl: '1.3vw'},
// top: {lg: '-12vw', xl: '-12vw'},
borderRadius: 2,
boxShadow: 2,
border: {md: '1px solid green', lg: '1px solid yellow', xl: '1px solid purple', xxl: '1px solid yellow'},
zIndex: 0,
background: 'linear-gradient(to right bottom, #48A2F1, #1B74E8)', */

#testingTable {
}

.imageTD {
  width: 1vw;
}

#firstImage {
  width: 6vw;
  border: 1px solid grey;
  border-radius: 12px;
  background: linear-gradient(to right bottom, #48A2F1, #1B74E8)
}

.cardHeader {
  text-align: right;
  margin-right: 2%;
  margin-left: 45%;
  border: 1px solid red
}

body {
  background: linear-gradient(to right bottom, lightgrey, #888888);
  background-repeat: round;
  /* #F5F5F5 */
  overflow-x: hidden;
}

html {
  height: 100%;
}

* {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.float-container {
  padding: 20px;
}

#sidebarDiv {
  width: 17.5%;
  float: left;
  padding: 0px;
}  


#mainDiv {
  width: 77%;
  float: left;
  padding: 20px;
}

hr {
  border: none;
  border-top: 1px solid black;
}

#resultsDiv {
  display: none;
}


#mainForm button{
  padding: 1% 2%;
  color: #444;
}

#text_input {
  width: 98%;
  padding: 1%;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(158, 158, 158);
  color: #666666;
}